body{
    background: linear-gradient(grey,black);
    font-family: Lucida Calligraphy;
}
.tshirt{
    border-radius: 100px;
    background: linear-gradient(green, black);
    display: block;
    margin-left: 40%;
}
hr{
    border-radius: 200px;
    background-color: darkgreen;
}
a{
    border-radius: 200px;
    background-color: darkgreen;
}
p{
    color: white;
    text-align: center;
}
h3{
    color: white;
    text-align: center;
}
span{
    color: white;
}
#logo{
    border-radius: 100px;
    display: block;
    margin-left: 30%;
}