body{
  margin: 0;
  min-height: 100vh;
  font-family: Calisto MT;
  color: white;
  font-weight: 500;
  font-size: 500;
  background:linear-gradient(grey,black);
}
.tshirt{
    border-radius: 100px;
    background: linear-gradient(green, black);
    display: block;
    margin-left: 40%;
}
hr{
    border-radius: 200px;
    background-color: darkgreen;
}
a{
    border-radius: 200px;
    background-color: darkgreen;
}
p{
    color: white;
    text-align: center;
}
h3{
    color: white;
    text-align: center;
}
span{
    color: white;
}
#logo{
    border-radius: 100px;
    display: block;
    margin-left: 30%;
}
a{
    text-decoration: none;
    color: white;
}
#right{
    float: right;
    padding: 10px 20px;
    display: inline-block;
}
#left{
    float: left;
    padding: 10px 20px;
    display: inline-block;
}
#center{
    float: center;
    padding: 10px 20px;
    display: inline-block;
}
div{
    display: inline-block;
    padding: 20px;
}
